/*
=============== 
Variables
===============
*/

:root {

  --clr-bg: #0B1B2B;
  --clr-primary : #11A8B1;
  --clr-primary-light : #1bdae4;
  --clr-primary-dark: #112E48;
  --clr-green: #1F624A;
  --clr-red: #A55426;
  
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey: #7794af;

  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 10rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--clr-bg);
  color: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.btn{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

input,
select {
  background: none;
  outline: none;
  border: none;
  color: inherit;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}